<!-- footer -->
<footer class="bg-dark">
    <section class="pt-5 mt-3">
        <div class="container mx-auto">

            <div class="row justify-content-evenly">
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3 ps-5">
                    <h5 class="lh-lg fw-bold text-white">COMPANY</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">About Us</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Team</a></li>
                        <!-- <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">blog</a></li> -->
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2 col-xxl-2 mb-3 ps-5">
                    <h5 class="lh-lg fw-bold text-white">CONTACT</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Help &amp; Support</a>
                        </li>
                        <!-- <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Suscribe!</a></li> -->
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-2 col-xxl-2 mb-3 ps-5">
                    <h5 class="lh-lg fw-bold text-white">LEGAL</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Terms &amp;
                                Conditions</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Refund &amp;
                                Cancellation</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Privacy Policy</a></li>
                        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-12 col-lg-5 col-xxl-7 ms-0 ps-5">
                    <h5 class="lh-lg fw-bold text-500 text-white">FOLLOW US</h5>
                    <div class="text-start my-3">
                        <a class="px-2" href="#!">
                            <i class="fa-brands fa-instagram"></i></a>
                        <a class="px-2" href="#!">
                            <i class="fa-brands fa-facebook"></i></a>
                        <a class="px-2" href="#!">
                            <i class="fa-brands fa-x-twitter"></i></a>
                    </div>

                    <h3 class="text-500 my-4">Receive exclusive offers and discounts in your mailbox</h3>
                    <div class="row input-group-icon mb-5">
                        <div class="col-auto position-relative mx-3 my-3">
                            <i
                                class="fas fa-envelope input-box-icon text-white text-500 position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                        <div class="col-auto my-3">
                            <input class="form-control input-box bg-800 border-0" type="email" placeholder="Enter Email"
                                aria-label="email" />
                        </div>
                        <div class="col-auto my-3">
                            <button class="btn btn-light" type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-200 text-center text-white pb-5">All rights Reserved &copy; FastFeed, 2024</p>
                </div>
            </div>

        </div><!-- end of container-->
    </section>
</footer> <!-- fin seccion footer -->