{{>navigation}}


<main class="row m-0">
    <aside class="col-sm-0 col-lg-1"></aside>
    
    <article id="orders-history" class="col-sm-12 col-lg-10 py-3 my-4">
    
    </article> <!-- main article content end -->

    <aside class="col-sm-0 col-lg-1"></aside>
</main>


{{>footer}}

<!-- my script -->
<script src="/js/darkmode.js"></script>
<script src="/js/historial-pedidos.js"></script>